* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.link {
  color: #1B1A1A;
  size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.navbarbtn {
  color: white;
  font-size: 16px;
  background-color: #1B1A1A;
  width: 155px;
  height: 46px;
  border-color: transparent;
  border-radius: 14px;
}

.frame {
  display: flex;
  align-items: center;
  gap: 32px;
}

.textp {
  color: #645C55;
  font-size: 14px;
  font-weight: 400;
  font-family: Poppins;
  margin-bottom: 20px;
}

.texth1 {
  color: #1B1A1A;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 18px;
}

.textp2 {
  color: #403E3B;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.textbtn {
  color: #1B1A1A;
  font-size: 16px;
  font-weight: 400;
  width: 133px;
  height: 46px;
  background-color: transparent;
  border-color: transparent;
}

.header01p1 {
  color: #645C55;
  font-size: 14px;
  font-weight: 400;
}

.header01 > .header01text > h1 {
  color: #1B1A1A;
  font-size: 64px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 18px;
}

.header01text > .header01p1 {
  padding-top: 60px;
}

.header01text > .headerbtn {
  margin-bottom: 40px;
}

.header01p2 {
  color: #403E3B;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.headerbtn {
  color: #1B1A1A;
  font-weight: 400;
  font-size: 16px;
  width: 133px;
  height: 46px;
  border-color: transparent;
  background-color: transparent;
}

.header01 {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  background-color: #ECE7E4;
}

.header2 > h1 {
  color: #403E3B;
  font-size: 32px;
  font-weight: 400;
}

.header2 {
  display: flex;
  gap: 132px;
  justify-self: center;
  margin-top: 100px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 120px;
}

.container {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.text {
  position: absolute;
  top: 266px;
  left: 60px;
  z-index: 10;
  color: #333;
}

.text3 > p {
  color: #645C55;
  font-size: 14px;
  font-weight: 400;
}

.text3 > h1 {
  color: #1B1A1A;
  font-size: 39px;
  font-weight: 400;
}

.birinp {
  color: #403E3B;
  font-size: 18px;
  font-weight: 400;
}

.ppp {
  font-size: 15px;
  color: #645C55;
  font-weight: 400;
}

.process {
  text-align: center;
  padding: 80px 0;
}

.process h5 {
  letter-spacing: 2px;
  color: #999;
}

.process h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

.process-items {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.item {
  max-width: 260px;
}

.icon {
  width: 117px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.icon img {
  width: 117px;
  height: 102px;
}

.item h3 {
  margin-bottom: 10px;
}

.item p {
  color: #777;
  font-size: 14px;
  line-height: 1.6;
}

.content {
  background-color: #403E3B;
}

.clients {
  display: flex;
  justify-content: space-between;
  padding: 120px;
  background-color: #403E3B;
}

.clients-left {
  width: 40%;
}

.clients-small {
  color: #ECE7E4;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.clients-left h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.clients-text {
  color: #ECE7E4;
  font-size: 16px;
  line-height: 1.6;
}

.clients-right {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.clients-right img {
  max-width: 100%;
  filter: brightness(0) invert(1);
}

.projects-section {
  padding: 50px 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color: #F7F7F7;
}

.container2 {
  max-width: 1100px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.maydadiv {
  text-align: left;
}

.subtitle {
  color: #666;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.project-card {
  position: relative;
  height: 456px;
  overflow: hidden;
  background: #f4f4f4;
}

.project-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
  color: #333;
}

.location {
  font-size: 12px;
  letter-spacing: 1px;
  color: #888;
}

.read-more {
  display: inline-block;
  margin-top: 300px;
  height: 46;
  padding: 10px 25px;
  background: #1B1A1A;
  color: #fff;
  text-decoration: none;
  border-radius: 14px;
  font-size: 14px;
}

.view-all {
  display: inline-block;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.frame-301 > h1 {
  color: #403E3B;
  font-size: 32px;
  font-weight: 400;
}

.frame-301 > p {
  color: #645C55;
  font-size: 15px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 30px;
}

.see-team {
  background-color: transparent;
  border-color: transparent;
  color: #1B1A1A;
  font-size: 16px;
  font-weight: 400;
  width: 121px;
  height: 46px;
}

.frame-301 {
  padding-left: 136px;
}

.frame-302 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.profile2 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 36px;
}

.Frame-3 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 100px;
  padding-bottom: 80px;
}

.frame-2 {
  background-color: #CEC4BC;
}

.frame-201 > p {
  color: #645C55;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.frame-201 > h1 {
  color: #1B1A1A;
  font-size: 40px;
  font-weight: 400;
}

.frame-2010 {
  display: flex;
  gap: 467px;
}

.frame-2010 > button {
  background-color: transparent;
  border-color: transparent;
  width: 145px;
  height: 46px;
}

.frame-201 {
  padding: 100px 136px;
}

.frame-1010 {
  display: flex;
  align-items: center;
  gap: 690px;
}

.frame-1010 > p {
  color: #645C55;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.frame-101 {
  padding: 60px 136px;
}/*# sourceMappingURL=style.css.map */